<div class="modal">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">
					<span class="glyphicon glyphicon-star"></span> 
					Job
				</h4>
			</div>
			<div class="modal-body">
				<ng-form name="jobDialog" novalidate role="form">
					<div class="form-group input-group-lg">
						<label class="control-label" for="newJob">Job:</label>
						<select ng-model="newJob.name" ng-options="job for job in jobs"></select>
						<span class="help-block">Enter the job you would like to do.</span>
					</div>
				</ng-form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>
				<button type="button" class="btn btn-primary" ng-click="save()">Save</button>
			</div>
		</div>
	</div>
</div>
