<style>
/* Fix for Bootstrap 3 with Angular UI Bootstrap */

.modal { 
	display: block;
}

/* Custom dialog/modal headers */

.dialog-header-error { background-color: #d2322d; }
.dialog-header-wait { background-color: #428bca; }
.dialog-header-notify { background-color: #eeeeee; }
.dialog-header-confirm { background-color: #333333; }
	.dialog-header-error span, .dialog-header-error h4,
	.dialog-header-wait span, .dialog-header-wait h4,
	.dialog-header-confirm span, .dialog-header-confirm h4 { color: #ffffff; }

/* Ease Display */

.pad { padding: 25px; }

button {
	display: inline;
}
</style>

<table class="table table-bordered">
	<tr>
		<th colspan="2">Inventory</th>
	</tr>
	<tr ng-repeat="item in inventory">
		<td> {{ item.name }} </td>
		<td> {{ item.value }} </td>
	</tr>
</table>

<table class="table table-bordered">
	<tr>
		<th>Gold</th>
		<th>Prestige</th>
	</tr>
	<tr>
		<td> {{ gold }} </td>
		<td> {{ prestige }} </td>
	</tr>
</table>

<table class="table table-bordered">
	<tr>
		<th colspan="5">Trades</th>
	</tr>
	<tr>
		<th>What</th>
		<th>How Many</th>
		<th>Price</th>
		<th>Buying or Selling</th>
		<th>Cancel</th>
	</tr>
	<tr ng-repeat="trade in trades">
		<td> {{ trade.what }} </td>
		<td> {{ trade.howMany }} </td>
		<td> {{ trade.price }} </td>
		<td> {{ trade.buyingOrSelling }} </td>
		<td> <button ng-click="removeTrade($index)" type="button">X</button> </td>
	</tr>
</table>

<p> Current Job: {{ job }} </p>

<button ng-click="changeJob()" ng-disabled="trades.length !== 0" class="btn btn-lg btn-primary btn-inline" type="button">Change Job</button>
<button ng-click="makeTrade()" class="btn btn-lg btn-primary btn-inline" type="button">Make Trade</button>

<textarea ng-model="textScroller.data" style="height: 100px; width:100%;" readonly="readonly">
</textarea>