<div class="modal">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">
					<span class="glyphicon glyphicon-star"></span> 
					Make a Trade
				</h4>
			</div>
			<div class="modal-body">
				<ng-form name="tradeDialog" novalidate role="form">
					<div class="form-group input-group-lg">
						<label class="control-label" for="what">Trade:</label>
						<select ng-model="trade.what" id="what" ng-options="tradeItem for tradeItem in tradeItems"></select></br>
						<label class="control-label" for="howMany">How Many:</label>
						<input type="number" id="howMany" ng-model="trade.howMany"></input></br>
						<label class="control-label" for="price">Price:</label>
						<input type="number" id="price" ng-model="trade.price"></input></br>
						<label class="control-label" for="buyingOrSelling">Trade Option</label>
						<select ng-model="trade.buyingOrSelling" id="buyingOrSelling" ng-options="tradeOption for tradeOption in tradeOptions"></select></br>
						<span class="help-block">Enter the required trade information.</span>
					</div>
				</ng-form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>
				<button type="button" class="btn btn-primary" ng-click="save()">Save</button>
			</div>
		</div>
	</div>
</div>