<style>
body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #eee;
}

.form-signup {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signup .form-signup-heading,
.form-signup .checkbox {
  margin-bottom: 10px;
}
.form-signup .checkbox {
  font-weight: normal;
}
.form-signup .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signup .form-control:focus {
  z-index: 2;
}
.form-signup input[type="email"] {
  margin-bottom: 10px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signup input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
</style>

<div class="jumbotron">
	<div class="container">
		<form class="form-signup" role="form">
			<h2 class="form-signup-heading">Please sign up</h2>
			<input type="email" class="form-control" placeholder="Email address" ng-model="email" required autofocus>
			<input type="password" class="form-control" placeholder="Password" ng-model="password" required>
			<input type="password" class="form-control" placeholder="Password Confirmation" required>
			<p style="color:red; text-align:center;" ng-if="emailInUse">That email is already used</p>
			<button ng-click="signup()" class="btn btn-lg btn-primary btn-block" type="submit">Sign Up</button>
		</form>
	</div>
</div>